@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');


:root{
  max-width: 1280px;
  margin: 0 auto;
  padding:2rem;
  text-align: center;
}
.heading{
  font-family: Poppins;
}
.grid-main{
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;

}
.grid-main h3 {
  font-family: Poppins;
  font-weight: 700;
}
.grid-main p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
}
.grid-child{
  border: 2px solid #4354;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
}
.grid-child:hover{
  background: #4757;
}
.translate{
  font-family: Poppins;
  font-size: 20px;
  padding: 10px;
}
.action-btn{
  width: 200px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}
